@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@400;600;700&display=swap');
:root{
    --primary-color: #6b21a8;
    --background-color: #f1f5f9;
    --hover-color: #9333ea;
}


* {
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}

body {
    margin: 0;
    text-align: center;
    background-color: var(--background-color);
}

.title{
    color: var(--primary-color);
}

.details {
    margin-block-end: 0;
}

.input-label {
    display: block;
    padding: 1rem;
    color: var(--primary-color);
    font-weight: 800;
    font-size: 1.2rem;
}

.input {
    display: block;
    padding: 0.5rem;
    width: 200px;
    margin: 0rem auto 1rem;
    text-align: center;
}

.btn {
    display: block;
    width: max-content;
    margin: 0.5rem auto 0;
    padding: 0.5rem 1rem;
    font-family: 'Mukta', sans-serif;
    border: 2px solid var(--primary-color);
    background-color: var(--background-color);
    border-radius: 10px;
    cursor: pointer;
}

.btn:hover{
    background-color: var(--hover-color);
    color: var(--background-color);
    transition: 0.3s ease;
}

/* .btn-nxt{
    display: none;
} */

.cash-given {
    display: none;
}

.error-message {
    margin: 0;
    padding: 0.5rem;
}

.error-img {
    display: none;
    height: 20vh;
    margin: auto;
}

.table {
    width: 50%;
    margin: auto;
    border: 2px solid var(--primary-color);
    border-collapse: collapse;
}

th,
td {
    width: 0%;
    text-align: left;
    border: 2px solid var(--primary-color);
    border-collapse: collapse;
    padding: 0.5rem;
    text-align: center;
}

th{
    color: var(--primary-color);
    font-weight: bold;
}

.table caption {
    font-size: 1.5rem;
    font-weight: 800;
    padding: 1rem;
    color: var(--primary-color);
}

.table-container {
    display: none;
}